# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# Local vars / secrets
terraform.tfvars
*.auto.tfvars
# OS / editor junk
.DS_Store
